.create-bot-btn {
    background-color: #660BAB;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.create-bot-btn:hover {
    background-color: #660BAB;
    transition-duration: 0.5s;
}

.form-input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid green;
    font-size: 16px;
    margin-bottom: 16px;
}

.create-bot-form-btn {
    display: inline-block;
    background-color: #660BAB;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.create-bot-wrapper {
    display: inline-block;
    top: 150px

}
